$num: 11;

.true-text ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    & li {
        font-size: 8rem;
        font-weight: bold;
        padding-left: 2rem;
        color: #ff6600;
        // color: #576574;
        
        animation: light 3s linear infinite;
        &:first-child {
            padding-left: 0rem;
        }

        @for $i from 1 to $num {
            &:nth-child(#{$i}) {
                animation-delay: ($i / 10) + s;
            }
        }
      }
  }
   
  
//   .true-text ul li:first-child {
//     padding-left: 0rem;
//   }
  
  @-webkit-keyframes light {
    0% {
      color: #ff6600;
      // color: #418;
      // color: #576574;
      text-shadow: 10px 5px 1rem rgb(0,0,0), 0 5px 7rem #000;
    }
    90% {
      // color: #ff6600;
      color: #418;
      text-shadow: 0 0 1rem rgb(0, 0, 0), 0 0 7rem #000;
      // text-shadow: none;
    }
    100% {
      color: #f60;
      text-shadow: 0 0 1rem #fff, 0 0 7rem #ff0;
    }
  }
  
  #colorWrapper .thunder{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000000;
    z-index: 0;
    animation: thunder 6s infinite;
  }

  $color1: rgba(12, 12, 20, 0.581);
  $color2: rgba(255, 255, 255, 0.821);
  @-webkit-keyframes thunder {
    0% {
      background-color: $color1;
    }
    9% {
      background-color: $color1;
    }
    10% {
      background-color: $color1;
    }
    10.5% {
      background-color: $color1;
    }
    80% {
      background-color: $color1;
    }
    82% {
      background-color: $color1;
    }
    82.5% {
      background-color: $color2;
    }
    83% {
      background-color: $color1;
    }
    83.5% {
      background-color: $color2;
    }
    100% {
      background-color: $color1;
    }
  }