header {
	overflow: hidden;
	width: 100vw;
	// height: 100vh;
}
.my-nav{
	position: absolute !important;
	// top: 0px;
	width: 100%;
	z-index: 10;
	// padding: 0;
	// direction: rtl;
	background: #4182;
	// background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
	backdrop-filter: blur(15px);
	& .navbar-brand img {
		width: 20rem;
	}
	& .nav-link {
		color: white !important;
		font-size: 1.5rem;
		margin-right: 1.5em;
		margin-bottom: 0.5rem;
		font-family: inherit;
		font-weight: 500;
		line-height: 1.2;
	}
	& .navbar-nav {
		margin-right: 10.5em;
		transition: 1s;
		position: relative;
		left: 5%;

	}
}




// --------------------------------------
.slider{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background: #418;
    height: 100%;
    // backdrop-filter: blur(150px);
	// z-index: 9;
}

.slide, .slide::before{
    // background: #f60;
    position: absolute;
    padding: 4px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 1;
}

.slide::before{
    content: "";
    background: #4188;
    padding: 0;
    /* z-index: 2; */
}

.slide:not(#first){
    // z-index: 0;
    opacity: 0.0;
}

.slide img{
    // position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button{
    position: absolute;
    z-index: 10;
    top: 50%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}

#nextBtn{
    right: 5%;
}

#prevBtn{
    left: 5%;
}

.my-carousel{
	content: "";
    position: absolute;
    width: 100%;
    height: 40px;
    // top: 90%;
	bottom: 5%;
    /* align-self: center; */
    right: 0;
	// background: #000;
    z-index: 10;
    display: flex;
    justify-content: center;
    
}

.my-carousel .carousel-indicators{
    /* background: #fff; */
    height: 3px;
    // width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.my-carousel .carousel-indicators div{
    margin-left: 5px;
    // position: relative;
    width: 2rem;
    height: 100%;
    background: #aaa;
    border-radius: 100px;
}

.my-carousel .carousel-indicators div.crsl-item.active{
    background: #fff;
}
