html {
  font-size: 12px;
  /* overflow: hidden; */
}

body {
  margin: 0;
  background: #ffffff;
}

.true-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: 900;
  font-family: fantasy;
}

.logo {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 60px;
}

.loader {
  color: #11045d;
  font-size: xx-large;
  font-weight: bold;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttonCont {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  left: 1.25em;
  top: 1.25em;
  padding: 1em 0;
  width: 8.5em;
  height: 15em;
  border-radius: 0.15em;
  background: rgba(195, 198, 205, 0.06);
  box-shadow: inset 2em 2em 12em -4em rgba(195, 198, 205, 0.2);
}
.buttonCont .button {
  position: relative;
  display: block;
  padding: 0 1em;
  height: 2.5em;
  font-family: "Open Sans";
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 8px;
  line-height: 2.5em;
  border-radius: 0.15em;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.6s ease;
}
.buttonCont .button.gemBlue_B {
  color: #276EFF;
  background-color: #1E2448;
}
.buttonCont .button.phosGreen-II_B {
  color: #15f4c2;
  background-color: #0A1819;
}
.buttonCont .button.honeyComb_B {
  color: #FCB367;
  background-color: #FFF8E4;
}
.buttonCont .button.whtSlate_B {
  color: #a0aAa9;
  background-color: #E4EDEC;
}

#colorWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(14, 12, 16);
  transition: background-color 0.35s ease-out;
  z-index: 999;
  /*@keyframes aniCL {
    0%, 25%, 50%, 75%, 100% { background: nth($cL, 1); }
    12%, 36%, 64%, 89%,  { background: nth($c, 1); }
  }*/
}
#colorWrapper .grid {
  width: 8.75em;
  height: 6.25em;
  transform: rotateX(-35deg) rotateY(-45deg);
}
#colorWrapper .grid, #colorWrapper .grid * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
}
#colorWrapper .cube:nth-child(1) {
  transform: translate3d(-5.25em, 0, -5.25em);
}
#colorWrapper .cube:nth-child(1) .lifter, #colorWrapper .cube:nth-child(1) .cube__face:nth-child(1) {
  animation-delay: 0.44037s;
}
#colorWrapper .cube:nth-child(2) {
  transform: translate3d(-1.75em, 0, -5.25em);
}
#colorWrapper .cube:nth-child(2) .lifter, #colorWrapper .cube:nth-child(2) .cube__face:nth-child(1) {
  animation-delay: 0.58716s;
}
#colorWrapper .cube:nth-child(3) {
  transform: translate3d(1.75em, 0, -5.25em);
}
#colorWrapper .cube:nth-child(3) .lifter, #colorWrapper .cube:nth-child(3) .cube__face:nth-child(1) {
  animation-delay: 0.73395s;
}
#colorWrapper .cube:nth-child(4) {
  transform: translate3d(5.25em, 0, -5.25em);
}
#colorWrapper .cube:nth-child(4) .lifter, #colorWrapper .cube:nth-child(4) .cube__face:nth-child(1) {
  animation-delay: 0.88074s;
}
#colorWrapper .cube:nth-child(5) {
  transform: translate3d(-5.25em, 0, -1.75em);
}
#colorWrapper .cube:nth-child(5) .lifter, #colorWrapper .cube:nth-child(5) .cube__face:nth-child(1) {
  animation-delay: 0.29358s;
}
#colorWrapper .cube:nth-child(6) {
  transform: translate3d(-1.75em, 0, -1.75em);
}
#colorWrapper .cube:nth-child(6) .lifter, #colorWrapper .cube:nth-child(6) .cube__face:nth-child(1) {
  animation-delay: 0.44037s;
}
#colorWrapper .cube:nth-child(7) {
  transform: translate3d(1.75em, 0, -1.75em);
}
#colorWrapper .cube:nth-child(7) .lifter, #colorWrapper .cube:nth-child(7) .cube__face:nth-child(1) {
  animation-delay: 0.58716s;
}
#colorWrapper .cube:nth-child(8) {
  transform: translate3d(5.25em, 0, -1.75em);
}
#colorWrapper .cube:nth-child(8) .lifter, #colorWrapper .cube:nth-child(8) .cube__face:nth-child(1) {
  animation-delay: 0.73395s;
}
#colorWrapper .cube:nth-child(9) {
  transform: translate3d(-5.25em, 0, 1.75em);
}
#colorWrapper .cube:nth-child(9) .lifter, #colorWrapper .cube:nth-child(9) .cube__face:nth-child(1) {
  animation-delay: 0.14679s;
}
#colorWrapper .cube:nth-child(10) {
  transform: translate3d(-1.75em, 0, 1.75em);
}
#colorWrapper .cube:nth-child(10) .lifter, #colorWrapper .cube:nth-child(10) .cube__face:nth-child(1) {
  animation-delay: 0.29358s;
}
#colorWrapper .cube:nth-child(11) {
  transform: translate3d(1.75em, 0, 1.75em);
}
#colorWrapper .cube:nth-child(11) .lifter, #colorWrapper .cube:nth-child(11) .cube__face:nth-child(1) {
  animation-delay: 0.44037s;
}
#colorWrapper .cube:nth-child(12) {
  transform: translate3d(5.25em, 0, 1.75em);
}
#colorWrapper .cube:nth-child(12) .lifter, #colorWrapper .cube:nth-child(12) .cube__face:nth-child(1) {
  animation-delay: 0.58716s;
}
#colorWrapper .cube:nth-child(13) {
  transform: translate3d(-5.25em, 0, 5.25em);
}
#colorWrapper .cube:nth-child(13) .lifter, #colorWrapper .cube:nth-child(13) .cube__face:nth-child(1) {
  animation-delay: 0s;
}
#colorWrapper .cube:nth-child(14) {
  transform: translate3d(-1.75em, 0, 5.25em);
}
#colorWrapper .cube:nth-child(14) .lifter, #colorWrapper .cube:nth-child(14) .cube__face:nth-child(1) {
  animation-delay: 0.14679s;
}
#colorWrapper .cube:nth-child(15) {
  transform: translate3d(1.75em, 0, 5.25em);
}
#colorWrapper .cube:nth-child(15) .lifter, #colorWrapper .cube:nth-child(15) .cube__face:nth-child(1) {
  animation-delay: 0.29358s;
}
#colorWrapper .cube:nth-child(16) {
  transform: translate3d(5.25em, 0, 5.25em);
}
#colorWrapper .cube:nth-child(16) .lifter, #colorWrapper .cube:nth-child(16) .cube__face:nth-child(1) {
  animation-delay: 0.44037s;
}
#colorWrapper .cube__face {
  margin: -7.5em;
  width: 2.75em;
  height: 2.75em;
  transition: background 0.35s ease-out;
}
#colorWrapper .cube__face:nth-child(1) {
  transform: rotateX(90deg) translateZ(1.375em);
  background: #ffffff;
}
#colorWrapper .cube__face:nth-child(1) {
  background: #ffffff;
  animation: aniCL 0.7875s cubic-bezier(0.4, 0.2, 0.4, 0.6) alternate infinite;
}
#colorWrapper .cube__face:nth-child(2) {
  transform: rotateY(90deg) translateZ(1.375em);
  background: #330d5b;
}
#colorWrapper .cube__face:nth-child(1) {
  background: #ffffff;
  animation: aniCL 0.7875s cubic-bezier(0.4, 0.2, 0.4, 0.6) alternate infinite;
}
#colorWrapper .cube__face:nth-child(3) {
  transform: translateZ(1.375em);
  background: #4d148c;
}
#colorWrapper .cube__face:nth-child(1) {
  background: #ffffff;
  animation: aniCL 0.7875s cubic-bezier(0.4, 0.2, 0.4, 0.6) alternate infinite;
}
#colorWrapper .lifter {
  transform-origin: 0 1.375em;
  transform: scaleY(0);
  animation: ani 0.7875s cubic-bezier(0.5, 0.1, 0.5, 0.9) alternate infinite;
}
@keyframes ani {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(0.533);
  }
}

/*
.shadow {
  position: relative;
  top: 50vh;
  margin: 0 auto; margin-top: -200px;
  width: 200px; height: 200px;
  background-color: transparent;
  transform: rotateX(60deg) rotate(45deg);

}
.flatShadow {
  margin-top: 20px;
  background-color: rgba(60,0,0,0.008);
}
// .dropShadow { box-shadow: 420px 400px 160px rgba(90,0,0,0.1);}  
*/
.triangle, .triangle:before, .triangle:after {
  width: 9em;
  height: 9em;
}

.triangle {
  overflow: hidden;
  position: relative;
  border-radius: 20%;
  transform: translateY(50%) rotate(30deg) rotateZ(90deg) skewY(30deg) scaleX(0.866);
  pointer-events: none;
}

.triangle:before, .triangle:after {
  position: absolute;
  background: #1a47b0;
  pointer-events: auto;
  content: "";
}

.triangle:before {
  border-radius: 20% 20% 20% 53%;
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(0.866) translateX(-24%);
}

.triangle:after {
  border-radius: 20% 20% 53% 20%;
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(0.866) translateX(24%);
}

.tra1 {
  position: absolute;
  right: 27%;
  z-index: 0;
  opacity: 0.5;
}

.tra1::after, .tra1::before {
  background: #418;
}

#colorWrapper.honeyComb {
  background-color: rgb(250, 252, 251);
}
#colorWrapper.honeyComb .cube__face:nth-child(1) {
  background: #FFF2D0;
}
#colorWrapper.honeyComb .cube__face:nth-child(1) {
  background: #FFF2D0;
  animation: aniCL-honeyComb 0.7875s cubic-bezier(0.4, 0.2, 0.4, 0.6) alternate infinite;
}
#colorWrapper.honeyComb .cube__face:nth-child(2) {
  background: #FFD792;
}
#colorWrapper.honeyComb .cube__face:nth-child(1) {
  background: #FFF2D0;
  animation: aniCL-honeyComb 0.7875s cubic-bezier(0.4, 0.2, 0.4, 0.6) alternate infinite;
}
#colorWrapper.honeyComb .cube__face:nth-child(3) {
  background: #FCB367;
}
#colorWrapper.honeyComb .cube__face:nth-child(1) {
  background: #FFF2D0;
  animation: aniCL-honeyComb 0.7875s cubic-bezier(0.4, 0.2, 0.4, 0.6) alternate infinite;
}
@keyframes aniCL-honeyComb {
  0% {
    background: #FFF8E4;
  }
  100% {
    background: #FFF2D0;
  }
}

#colorWrapper.whtSlate {
  background-color: rgb(250, 252, 251);
}
#colorWrapper.whtSlate .cube__face:nth-child(1) {
  background: #D0DAD9;
}
#colorWrapper.whtSlate .cube__face:nth-child(1) {
  background: #D0DAD9;
  animation: aniCL-whtSlate 0.7875s cubic-bezier(0.4, 0.2, 0.4, 0.6) alternate infinite;
}
#colorWrapper.whtSlate .cube__face:nth-child(2) {
  background: #B9C6C7;
}
#colorWrapper.whtSlate .cube__face:nth-child(1) {
  background: #D0DAD9;
  animation: aniCL-whtSlate 0.7875s cubic-bezier(0.4, 0.2, 0.4, 0.6) alternate infinite;
}
#colorWrapper.whtSlate .cube__face:nth-child(3) {
  background: #E4EDEC;
}
#colorWrapper.whtSlate .cube__face:nth-child(1) {
  background: #D0DAD9;
  animation: aniCL-whtSlate 0.7875s cubic-bezier(0.4, 0.2, 0.4, 0.6) alternate infinite;
}
@keyframes aniCLwht-Slate {
  0% {
    background: #D0DAD9;
  }
  100% {
    background: #D0DAD9;
  }
}

#colorWrapper.phosGreen-II {
  background-color: rgb(16, 18, 22);
}
#colorWrapper.phosGreen-II .cube__face:nth-child(1) {
  background: #0A1819;
}
#colorWrapper.phosGreen-II .cube__face:nth-child(1) {
  background: #0A1819;
  animation: aniCL-phosGreen-II 0.7875s cubic-bezier(0.4, 0.2, 0.4, 0.6) alternate infinite;
}
#colorWrapper.phosGreen-II .cube__face:nth-child(2) {
  background: #102928;
}
#colorWrapper.phosGreen-II .cube__face:nth-child(1) {
  background: #0A1819;
  animation: aniCL-phosGreen-II 0.7875s cubic-bezier(0.4, 0.2, 0.4, 0.6) alternate infinite;
}
#colorWrapper.phosGreen-II .cube__face:nth-child(3) {
  background: #15f4c2;
}
#colorWrapper.phosGreen-II .cube__face:nth-child(1) {
  background: #0A1819;
  animation: aniCL-phosGreen-II 0.7875s cubic-bezier(0.4, 0.2, 0.4, 0.6) alternate infinite;
}
@keyframes aniCL-phosGreen-II {
  0% {
    background: #0d2c2f;
  }
  100% {
    background: #0A1819;
  }
}

#colorWrapper.gemBlue {
  background-image: url(../img/36256.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#colorWrapper.gemBlue .cube__face:nth-child(1) {
  background: #ffffff;
}
#colorWrapper.gemBlue .cube__face:nth-child(1) {
  background: #ffffff;
  animation: aniCL-gemBlue 0.7875s cubic-bezier(0.4, 0.2, 0.4, 0.6) alternate infinite;
}
#colorWrapper.gemBlue .cube__face:nth-child(2) {
  background: #ff6600;
}
#colorWrapper.gemBlue .cube__face:nth-child(1) {
  background: #ffffff;
  animation: aniCL-gemBlue 0.7875s cubic-bezier(0.4, 0.2, 0.4, 0.6) alternate infinite;
}
#colorWrapper.gemBlue .cube__face:nth-child(3) {
  background: #4d148c;
}
#colorWrapper.gemBlue .cube__face:nth-child(1) {
  background: #ffffff;
  animation: aniCL-gemBlue 0.7875s cubic-bezier(0.4, 0.2, 0.4, 0.6) alternate infinite;
}
@keyframes aniCL-gemBlue {
  0% {
    background: #cabcda;
  }
  100% {
    background: #4d148c;
  }
}

/*/\\/   RIPPLE CLICK FX ---Start----   /\/\*/
.inkAnchor {
  cursor: pointer; /*since the links are dummy without href values*/
  /*prevent text selection*/
  user-select: none;
  /*static positioned elements appear behind absolutely positioned siblings(.ink in this case) hence we will make the links relatively positioned to bring them above .ink*/
  position: relative;
}

/*.ink styles - the elements which will create the ripple effect. The size and position of these elements will be set by the JS code. Initially these elements will be scaled down to 0% and later animated to large fading circles on user click.*/
.button:active {
  transition: box-shadow 0.15s ease-out;
  box-shadow: 0 0.5em 0.33em -0.33em rgba(0, 0, 0, 0.12), 0 0.33em 1em -0.25em rgba(0, 0, 0, 0.2);
}

.whtSlate_B .ink {
  background-color: #B9C6C7;
}

.honeyComb_B .ink {
  background-color: #FFD792;
}

.phosGreen-II_B .ink {
  background-color: #15f4c2;
}

.gemBlue_B .ink {
  background-color: #276EFF;
}

.ink {
  display: block;
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  background-color: blue;
  pointer-events: none !important;
}

/*animation effect*/
.ink.animateInk {
  animation: ripple 0.9s cubic-bezier(0.2, 0.2, 0, 1) forwards 1;
}

@keyframes ripple {
  0% {
    opacity: 0.6;
    transform: scale(0); /*box-shadow: inset 0 0 0 12em ;*/
  }
  100% {
    opacity: 0;
    transform: scale(1); /* box-shadow: inset 0 0 0 0em ;*/
  }
}

/*# sourceMappingURL=style.css.map */
