header {
	overflow: hidden;
}
.my-nav{
	position: absolute !important;
	// top: 0px;
	width: 100%;
	z-index: 10;
	// padding: 0;
	// direction: rtl;
	background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
	backdrop-filter: blur(15px);
	& .navbar-brand img {
		width: 20rem;
	}
	& .nav-link {
		color: white !important;
		font-size: 1.5rem;
		margin-right: 1.5em;
		margin-bottom: 0.5rem;
		font-family: inherit;
		font-weight: 500;
		line-height: 1.2;
	}
	& .navbar-nav {
		margin-right: 10.5em;
		transition: 1s;
		position: relative;
		left: 5%;

	}
}

.my-carousel {
	// z-index: 10;
	position: absolute;
	top: 0;
}

.carousel-item {
	height: 100vh;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}



.carousel-item.first{
	background-image: linear-gradient(45deg, #441188, #7a118851), url('../img/branding2.jpg');
}

.carousel-item.second{
	background-image: linear-gradient(45deg, #441188, #7a118851), url('../img/design2.jpg');
}

.carousel-item.third{
	background-image: linear-gradient(45deg, #441188, #7a118851), url('../img/laptop-removebg-preview-transformed_11zon.png');
}


.carousel-indicators {
    // position: absolute;
    // right: 60% !important;
	// bottom: 50px !important;
    // // left: -500 !important;
    // // z-index: 15;
    // // display: -ms-flexbox;
    // // display: flex;
    // // -ms-flex-pack: center;
    // // justify-content: center;
    // // padding-left: 0;
    // // margin-right: 20% !important;
    
    // // list-style: none;
    // transform: rotateZ(90deg);
	cursor: alias;
}